
body {
  background-color: lavenderblush; 
  font-family: 'Courier New', monospace;
  color: black;
  padding: 2%;
}

  

 
  p {
    line-height: 2em;
    }

.small_image {
    width: 400px;

}

z {
border-image-width: auto;

}
z


p {
    line-height: 2em;
}


a {
    color: #000;
}

nav a {
  text-decoration: none;
}

a:hover {
  color: gray;
  text-decoration: none;
}

.selected {
  font-weight: bold;
}


ul.about-me {
  list-style-type: none; /* Remove bullets */
}

li.about-me {
    margin: 20px;
}

.project {
    margin: 20px;
    position:relative;
}

.project-text {
  color: black;
  opacity: 0;
  position: absolute;
  top: 30%;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project:hover .project-image {
  transition: opacity 0.2s ease-in-out;
  opacity:0;
}

.project:hover .project-text {
  transition: opacity 0.2s ease-in-out;
  opacity:1;
}

.buffer {
  margin: 60px;
}

.pad {
  padding: 20px;
}

.large-title {
  font-size: 400%;
}